html {
  font-family: 'Source Sans Pro', sans-serif;
}

.jumbotron {
  background-image: url("https://www.whatson.is/wp-content/uploads/2018/05/dsc00722-res-min.jpg");
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navigation {
  height: 10vh;
  display: flex;
}

.navigation__button {
  width: 200px;
  background-color: #213ba5;
  border: 1px solid white;
  color: white;
  font-size: 18px;
  text-decoration: none;
  transition: background-color 0.5s;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navigation__button:hover {
  background-color: #4660c9;
}



.navigation__button.login {
  width: 300px;
  height: 150px;
  font-size: 30px;
}

.bigtext {
  font-weight: 700;
  text-decoration: none;
  font-size: 80px;
  color: #213ba5;
}

.footer {
  color: white;
  background-color: #1c1e21;
  height: 50px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footerfooter {
  height: 200px;
  width: 100%;
  background-color: #3b3f44;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.footer__link {
  color: white;
  text-decoration: none;
}

.small {
  height: 50px;
  width: 300px;
}

.small.buttons {
  background-color: #e0db79;
  color: black;
}

.small.buttons:hover {
  background-color: #d3d3cb;
}

.licenses {
  padding: 50px;
  display: flex;
  background-color: #cce0cc;
  align-items: center;
  flex-direction: column;
}

.header {
  height: 10vh;
  font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #213ba5;
  color: white;
}

.form {
  padding: 50px;
  max-width: 800px;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #eeeeee;
}

.form__container {
  display: flex;
  justify-content: center;
}

.form__radio {
  width: 50%;
  display: flex;
  justify-content: space-between;
}

.radio__container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.submit {
  margin-top: 50px;
  height: 50px;
  width: 300px;
}

.submitted {
  height: 70vh;
}

.passport {
  background-image: url('./pics/pass.jpg');
  width: 187.5px;
  height: 250px;
  background-size: cover;
  margin-bottom: 20px;
}

.driverbutton {
  background-color: #4292f4;
  height: 40px;
  width: 500px;
  border-radius: 3px;
  border-width: 0px;
  transition: background-color 0.5s;
}

.driverbutton.submit {
  height: 60px;
  margin-top: 20px;
}

.driverbutton:hover {
  background-color: #92c5ff;
}

.driverbutton:disabled {
  background-color: #bbbbbb;
}

.thankyou {
  height: 50px;
  width: 200px;
}

.bigtextbackground {
  height: 150px;
  width: 1000px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(200, 200, 200, .8)
}
